@charset "utf-8";
/* CSS Document */

body {
	background-color: #000;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

h1 {
	color: #fff;
	font-size: 18px;
}

header img {
	max-width: 100%;
}

/*a#capital_campaigns {
	background: url('../images/1a-RenitaTyson.jpg') top center no-repeat;
	
}

a#capital_campaigns:hover {
	background: url('http://placehold.it/480x220') top center no-repeat;
}*/

#wrapper {
	width:100%;
	/*text-align: center;*/
	max-width:970px;
	/*max-width: 960px;*/
	margin: 0 auto;
}

.main_header {
	font-family: 'Oswald', sans-serif;
}

#xbar_header {
	width: 98.7%;
}

#content {
	width: 100%;
	max-width:100%;
	overflow: hidden;
}

.graphic_align {
	position: relative;
	float: left;
	width:49%;
	margin-bottom:0;
	margin-right:2px;
}

.graphic_align img {
	width: 100%;
	max-width: 100%;
}

.graphic_align a {
	/*background-size: cover;
	padding-top:46%;*/
	display: block;
}

#overlay {
	position: absolute;
	display:none;
	z-index: 10;
	top: 0;
	/*background-color: rgba(138, 126, 126, 0.61);*/
	width: 100%;
	height: 100%;
}
#caption {
	margin-left: 50%;
}
.np_slide {
	display:block;
}

#webinar_header {
	text-align: center;
	margin-bottom: 20px;
}

#webinar_header h2 {
	display: inline;
	color: #fff;
	text-transform: uppercase;
	font-size: 28px;
}

#webinar_header h3 {
	display: inline;
	color: #fff;
	font-size: 28px;
}

.centerVideo {
	/*text-align: center;*/
}

.divide {
	font-size: 38px;
	position: relative;
	top: 4px;
	font-weight: normal;
	left: 5px;
	margin-right: 3px;
	color: #595959;
}

#webinar_graphic {
	position: relative;
	/*width: 960px;*/
	height: auto;
	max-width: 960px;
}

.mobile {
	display: none;
}

#webinar_graphic img {
	width: 100%;
	max-width: 100%;
}

#video_list {
	position: absolute;
	top: 0;
	/*background-color: rgba(46, 44, 44, 0.74);*/
	height:100%;
	padding: 0 3% 0 3%;
	max-width: 30%;
	background: url(../images/Mobile/sidebar-mobile.png) top center repeat;
}

#video_list strong {
	color: #fff;
}

#video_wrapper {
	max-width: 960px;
	margin: 0 auto;
}

#fluid_video {
	width: 100%;
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
	margin-bottom: 10px;
}

#fluid_video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#player_nav {
	margin-top: 8%;
	text-align: left;
	height: 20px;
	color: #595959;
}

#player_nav a {
	color: #fff;
	font-weight: normal;
	margin: 0 5px;
}

body, html, iframe, #player, .fallback {
	height: 99% !important;
}

.watch {
	margin-left: 5px;
}

#video_list #titles {
	margin-top: 30%;
}

#titles h2 {
	font-size: 18px;
	color: #fff;
	line-height: 20px;
	text-transform: uppercase;
}

#titles h3 {
	font-size: 15px;
	color: #fff;
	line-height: 10px;
}

#titles ul {
	margin-top: 40%;
}

#titles li {
	margin-bottom: 4px;
	text-decoration: underline;
	position: relative;
}

/*#titles a:hover {
	content: url(../images/play.png) top center no-repeat !important;
	background: url(../images/play.png) top left no-repeat !important;*/
	/*position: absolute;*/
	/*left: -22px;*/
	/*width: 34px;
	height: 17px;*/
	/*z-index: 100;
}*/

.play {
	/*background: url('../images/play.png') top center no-repeat !important;*/
	position: absolute;
	left: -22px;
	width: 17px !important;
	height: 17px !important;
}

#cover_sidebar {
	background-color: #000;
	height: 200px;
	width:100%;
}

/* Preloader */

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#000; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}

#status {
    width: 600px;
	height: 200px;
    position:absolute;
    left:35%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    margin:-100px 0 0 -100px; /* is width and height divided by two */
    text-align: center;
}

#status h1 {
	margin-bottom: 22px;
	border-bottom: 1px solid #595959;
}

#status h2 {
	color: #fff;
	font-size: 24px;
	text-transform: uppercase;
}

.social_icons a {
	width: 22px;
	height: 22px;
	font: 0/0 a;
  	text-shadow: none;
	color: transparent;
	display: inline-block;
	margin-right: 4px;
}

.blog {
	background: url('../images/blogLogo.gif') top center no-repeat;	
}

.facebook {
	background: url('../images/facebookLogo.gif') top center no-repeat;
}

.twitter {
	background: url('../images/twitterLogo.gif') top center no-repeat;
}

.gplus {
	background: url('../images/googleplusLogo.gif') top center no-repeat;
}

.linkedin {
	background: url('../images/linkedInLogo.gif') top center no-repeat;
}

.pinterest {
	background: url('../images/pinterestLogo.gif') top center no-repeat;
}

.youtube {
	background: url('../images/youtube.gif') top center no-repeat;
}

@media only screen and (max-width: 985px) {
	/*.graphic_align img {
		width:90%;
	}*/
}

@media only screen and (max-width: 797px) {
	#video_list #titles {
			margin-top: 5%;
		}

		#titles ul {
			margin-top: 15%;
		}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	#status {
    		margin:-100px 0 0 -200px; /* is width and height divided by two */
	}

	.main_header {
		padding-left: 5px;
	}

	#titles li {
		left: 2px;
		line-height: 14px;
	}

	#titles a {
		font-size: 0.8em;
	}

	.play {
		left: -20px !important;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
	.graphic_align .mobile {
		display: inline-block;

	}		

	.graphic_align .desktop {
		display: none;
	}

	.graphic_align {
		width: 47%;
	}

	.play {
		display: none;
	}

	#titles a:before {
		content: url('../images/play.png') top center no-repeat !important;
		position: absolute;
		left: -22px;
		width: 17px !important;
		height: 17px !important;
	}

	#video_list strong {
		color: #fff;
	}

}

@media only screen and (max-width: 479px) {

		.mobile {
			display: block;
		}
		.desktop {
			display: none;
		}

		#titles h2, #titles h3 {
			font-size: 0.7em;
		}

		#titles h2 {
			line-height: 10px;
		}

		#titles h3 {
			line-height: 0px;
		}

		#titles li {
			font-size: 0.7em;
			line-height: 11px;
		}

		#titles ul {
			margin-top: 15%;
		}

		#video_wrapper {
			padding-top: 8%;
		}

		#video_list {
			padding: 0 0 0 6%;
			max-width: 50%;
		}

		#video_list #titles {
			margin-top: 5%;
			padding-right: 10px;
		}

		#webinar_header h2, #webinar_header h3 {
			font-size: 1.2em;
		}

		.divide {
			font-size: 1.9em;
		}
		.main_header {
			text-align: center;
		}
		#player_nav {
			font-size: 0.6em;
		}
		#player_nav a {
			/*margin-right: 5px;*/
		}
		#status {
			left: 28%;
			width: 95%;
		}
		#status h1 {
			font-size: 16px;
		}
		#status h2 {
			font-size: 17px;
		}

		.graphic_align {
			display: block;
			float: none;
			width: 100%;
		}

		#graphic_align img {
			width: 99.7%;
		}

		#footer .footerLinks {
			margin-bottom: 10px;
		}

		#footer .copyright {
			float: none;
			width: 100%;
		}

		#footer .copyright p { 
			text-align: left;
		}

		.play {
			display: none;
		}

		#titles a:before {
			content: url('../images/play.png') top center no-repeat !important;
			position: absolute;
			left: -22px;
			width: 17px !important;
			height: 17px !important;
		}
		
	}