 <section id="webinar_header">
 	<h2>Capital Campaigns</h2> <span class="divide"> / </span> <h3>Renita Tyson</h3>
 </section>
 <section id="webinar_graphic">
 	<img class="desktop" src="images/RenitaTyson.jpg" />
 	<img class="mobile" src="images/Mobile/RenitaTyson-mobile.jpg" />
 	<div id="video_list">
 		<article id="titles">
 		<h2>Capital Campaigns</h2>
 		<h3>By Renita Tyson</h3>

 		<ul>
 		<li><a href="#!capital_campaigns/87487833" id="87487833" title="Why be a fundraiser?">Why be a fundraiser?</a></li>
		<li><a href="#!capital_campaigns/87487224" id="87487224" title="Satisfaction">Satisfaction</a></li>
		<li><a href="#!capital_campaigns/87487226" id="87487226" title="Organizations Needs">Organization's Needs</a></li>
		<li><a href="#!capital_campaigns/87487222" id="87487222" title="Case for Support">Case for Support</a></li>
		<li><a href="#!capital_campaigns/87487229" id="87487229" title="Who leads a capital campaign">Who leads a capital campaign</a></li>
		<li><a href="#!capital_campaigns/87487225" id="87487225" title="I am Renita…">I am Renita…</a></li>
		</ul>
 	</article>
 	</div>
 </section>