 <section id="webinar_header">
 	<h2>Cause Marketing</h2> <span class="divide"> / </span> <h3>Scott Pansky</h3>
 </section>
 <section id="webinar_graphic">
 	<img class="desktop" src="images/ScottPansky.jpg" />
 	<img class="mobile" src="images/Mobile/ScottPansky-mobile.jpg" />
 	<div id="video_list">
 		<article id="titles">
 		<h2>Cause Marketing</h2>
 		<h3>By Scott Pansky</h3>
 		<ul>
 		<li><a href="#!cause_marketing/87487837" id="87487837" title="What is cause related marketing?">What is cause related marketing?</a></li>
		<li><a href="#!cause_marketing/87487835" id="87487835" title="ART">ART</a></li>
		<li><a href="#!cause_marketing/87488336" id="87488336" title="Employee Engagement">Employee Engagement</a></li>
		<li><a href="#!cause_marketing/87487836" id="87487836" title="Authentic">Authentic</a></li>
		<li><a href="#!cause_marketing/87488335" id="87488335" title="Customer Activation">Customer Activation</a></li>
		<li><a href="#!cause_marketing/87490582" id="87490582" title="Understand Your Organization">Understand Your Organization</a></li>
		<li><a href="#!cause_marketing/87490579" id="87490579" title="I am Scott...">I am Scott...</a></li>
		<li><a href="#!cause_marketing/87488332" id="87488332" title="Corporate Partners">Corporate Partners</a></li>
		<li><a href="#!cause_marketing/87490581" id="87490581" title="Society’s Rising Expectations">Society’s Rising Expectations</a></li>
		<li><a href="#!cause_marketing/87487838" id="87487838" title="Consumer Fatigue">Consumer Fatigue</a></li>
		<li><a href="#!cause_marketing/87488337" id="87488337" title="Gold, Silver Bronze">Gold, Silver Bronze</a></li>
		<li><a href="#!cause_marketing/87490580" id="87490580" title="Socialanthrophy">Socialanthrophy</a></li>
		<li><a href="#!cause_marketing/87488331" id="87488331" title="You no longer control your brand"><strong>Bonus:</strong> You no longer control your brand</a></li>
		</ul>
 	</article>
 </div>
 </section>