 <section id="webinar_header">
 	<h2>Founders Syndrome & Succession Planning</h2> <span class="divide"> / </span> <h3>Kim Williams</h3>
 </section>
 <section id="webinar_graphic">
 	<img class="desktop" src="images/KimWilliams.jpg" />
 	<img class="mobile" src="images/Mobile/KimWilliams-mobile.jpg" />
 	<div id="video_list">
 		<article id="titles">
 		<h2>Founders Syndrome & Succession Planning</h2>
 		<h3>Kim Williams</h3>
 		<ul>
 		<li><a href="#!founders_syndrome/87318672" id="87318672" title="Founder’s Syndrome – a definition">Founder’s Syndrome – a definition</a></li>
		<li><a href="#!founders_syndrome/87316804" id="87316804" title="Accidental Executive">Accidental Executive</a></li>
		<li><a href="#!founders_syndrome/87317661" id="87317661" title="Boards">Boards</a></li>
		<li><a href="#!founders_syndrome/87318676" id="87318676" title="Role Clarity">Role Clarity</a></li>
		<li><a href="#!founders_syndrome/87319640" id="87319640" title="Succession Planning:  Change, Crisis, Chaos">Succession Planning:  Change, Crisis, Chaos</a></li>
		<li><a href="#!founders_syndrome/87319638" id="87319638" title="Strategic Plan">Strategic Plan</a></li>
		<li><a href="#!founders_syndrome/87318674" id="87318674" title="Plant a Tree">Plant a Tree</a></li>
		<li><a href="#!founders_syndrome/87318673" id="87318673" title="I am Kim...">I am Kim...</a></li>
		<li><a href="#!founders_syndrome/87318671" id="87318671" title="Executive Transition"><strong>Bonus:</strong> Executive Transition</a></li>
		</ul>
 	</article>
 </div>
 </section>