 <section id="webinar_header">
 	<h2>Fundraising Professionals</h2> <span class="divide"> / </span> <h3>Pamela Barden</h3>
 </section>
 <section id="webinar_graphic">
 	<img class="desktop" src="images/PamelaBarden.jpg" />
 	<img class="mobile" src="images/Mobile/PamelaBarden-mobile.jpg" />
 	<div id="video_list">
 		<article id="titles">
 		<h2>Fundraising Professionals</h2>
 		<h3>Pamela Barden</h3>
 		<ul>
 		<li><a href="#!fundraising_professionals/87321276" id="87321276" title="Target Audience and speak their language">Target Audience and speak their language</a></li>
		<li><a href="#!fundraising_professionals/87321273" id="87321273" title="Multichannel Fundraising">Multichannel Fundraising</a></li>
		<li><a href="#!fundraising_professionals/87320863" id="87320863" title="Donor Relations">Donor Relations</a></li>
		<li><a href="#!fundraising_professionals/87321274" id="87321274" title="Fundraising and Learning">Fundraising and Learning</a></li>
		<li><a href="#!fundraising_professionals/87321271" id="87321271" title="I am Pamela…">I am Pamela…</a></li>
		<li><a href="#!fundraising_professionals/87321277" id="87321277" title="More practical advice…">More practical advice…</a></li>
		</ul>
 	</article>
 </div>
 </section>