 <section id="webinar_header">
 	<h2>Grant Writing</h2> <span class="divide"> / </span> <h3>La Quetta Shamblee</h3>
 </section>
 <section id="webinar_graphic">
 	<img class="desktop" src="images/LaQuettaShamblee.jpg" />
 	<img class="mobile" src="images/Mobile/LaQuettaShamblee-mobile.jpg" />
 	<div id="video_list">
 		<article id="titles">
 		<h2>Grant Writing</h2>
 		<h3>La Quetta Shamblee</h3>
 		<ul>
 		<li><a href="#!grant_writing/87320856" id="87320856" title="Grant Building">Grant Building</a></li>
		<li><a href="#!grant_writing/87319641" id="87319641" title="80/20%">80/20%</a></li>
		<li><a href="#!grant_writing/87320862" id="87320862" title="Step by Step">Step by Step</a></li>
		<li><a href="#!grant_writing/87319645" id="87319645" title="Building the Frame/Infrastructure">Building the Frame/Infrastructure</a></li>
		<li><a href="#!grant_writing/87319644" id="87319644" title="Budget">Budget</a></li>
		<li><a href="#!grant_writing/87320855" id="87320855" title="Finishing Touches">Finishing Touches</a></li>
		<li><a href="#!grant_writing/87320855" id="87320855" title="I am LaQuetta…">I am La Quetta…</a></li>
		</ul>
 	</article>
 </div>
 </section>