<section class="graphic_align" id="capital_campaigns">
	<a class="np_slide" id="capital_campaigns" href="#!capital_campaigns">
		<img class="home_graphic" src="images/1a-RenitaTyson.jpg" />
		<div id="overlay">
			<img src="images/1a-RenitaTyson-rollover.png" />
		</div>
	</a>
</section>
<section class="graphic_align" id="stock">
	<img src="images/1b.jpg" />
</section>
<section class="graphic_align" id="stock">
	<img src="images/2b.jpg" />
</section>
<section class="graphic_align" id="cause_marketing">
	<a class="np_slide" id="cause_marketing" href="#!cause_marketing">
		<img src="images/2a-ScottPansky.jpg" />
		<div id="overlay">
			<img src="images/2a-ScottPansky-rollover.png" />
		</div>
	</a>
</section>
<section class="graphic_align" id="founders_syndrome">
	<a class="np_slide" id="founders_syndrome" href="#!founders_syndrome">
		<img src="images/3a-KimWilliams.jpg" />
	<div id="overlay">
		<img src="images/3a-KimWilliams-rollover.png" />
	</div>
	</a>
</section>
<section class="graphic_align" id="stock">
	<img src="images/3b.jpg" />
</section>
<section class="graphic_align" id="stock">
	<img src="images/4b.jpg" />
</section>
<section class="graphic_align" id="grant_writing">
	<a class="np_slide" id="grant_writing" href="#">
	<img src="images/4a-LaQuettaShamblee.jpg" />
	<div id="overlay">
		<img src="images/4a-LaQuettaShamblee-rollover.png" />
	</div>
	</a>
</section>
<section class="graphic_align" id="fundraising_professionals">
	<a class="np_slide" id="fundraising_professionals" href="#">
	<img src="images/5a-PamelaBarden.jpg" />
	<div id="overlay">
		<img src="images/5a-PamelaBarden-rollover.png" />
	</div>
	</a>
</section>
<section class="graphic_align" id="stock">
	<img src="images/5b.jpg" />
</section>
<div id="footer">
                    <div class="footerLinks">
                        <div class="noindex">
                        <ul>
                            <li><a id="ctl00_HyperLink7" href="../sitemap.aspx">Site Index</a></li>
                            <li><a id="ctl00_hlFooterMyExt" href="../student/Extension.aspx">My Extension</a></li>
                            <li><a id="ctl00_HyperLink1" href="../str/FinancialAid.aspx">Fees &amp; Financial Aid</a></li>
                            <li><a id="ctl00_HyperLink2" href="../str/privacy.aspx">Privacy Policy</a></li>             
                            <li class="last"><a id="ctl00_HyperLink9" href="../str/StudentswithDisabilities.aspx">Students with Disabilities</a></li>
                            
                        </ul>
                        <ul>
                            <li><a id="ctl00_HyperLink5" href="SupportUCLAExtension.aspx">Donor &amp; Sponsor Information</a></li>
                            <li><a id="ctl00_HyperLink4" href="contactus.aspx">Contact Us</a></li>
                            <li><a id="ctl00_HyperLink14" href="http://blogs.uclaextension.edu/Newsroom/">Media Relations</a></li>
                            <li class="last"><a id="ctl00_HyperLink6" href="CurrentJobOpenings.aspx">Careers</a></li>
                            
                                     
                        </ul>
                        </div>
                    </div>
                    
                    <div class="copyright noindex">                                                     
                        <p>© <script type="text/javascript" language="javascript">document.write(new Date().format("yyyy"))</script>2014 The Regents of the University of California <a href="http://www.ucla.edu" target="_blank">UCLA Home</a></p>
                        <p><img src="images/eb_press_big.gif" /></p>                        
                        <div class="clear"></div>
                    </div>
                    
                    
                    <!--Crazy Egg -->
                    <script type="text/javascript">
                        setTimeout(function () {
                            var a = document.createElement("script");
                            var b = document.getElementsByTagName("script")[0];
                            a.src = document.location.protocol + "//dnn506yrbagrg.cloudfront.net/pages/scripts/0018/2209.js?" + Math.floor(new Date().getTime() / 3600000);
                            a.async = true; a.type = "text/javascript"; b.parentNode.insertBefore(a, b)
                        }, 1);
                    </script>
                    
                </div>