<section class="graphic_align" id="capital_campaigns">
	<a class="np_slide" id="capital_campaigns" href="#!capital_campaigns">
		<img class="home_graphic" src="images/1a-RenitaTyson.jpg" />
		<div id="overlay">
			<img class="desktop" src="images/1a-RenitaTyson-rollover.png" />
		</div>
	</a>
</section>
<section class="graphic_align" id="stock">
	<img src="images/1b.jpg" />
</section>
<section class="graphic_align" id="stock">
	<img src="images/2b.jpg" />
</section>
<section class="graphic_align" id="cause_marketing">
	<a class="np_slide" id="cause_marketing" href="#!cause_marketing">
		<img src="images/2a-ScottPansky.jpg" />
		<div id="overlay">
			<img src="images/2a-ScottPansky-rollover.png" />
		</div>
	</a>
</section>
<section class="graphic_align" id="founders_syndrome">
	<a class="np_slide" id="founders_syndrome" href="#!founders_syndrome">
		<img src="images/3a-KimWilliams.jpg" />
	<div id="overlay">
		<img src="images/3a-KimWilliams-rollover.png" />
	</div>
	</a>
</section>
<section class="graphic_align" id="stock">
	<img src="images/3b.jpg" />
</section>
<section class="graphic_align" id="stock">
	<img src="images/4b.jpg" />
</section>
<section class="graphic_align" id="grant_writing">
	<a class="np_slide" id="grant_writing" href="#!grant_writing">
	<img src="images/4a-LaQuettaShamblee.jpg" />
	<div id="overlay">
		<img src="images/4a-LaQuettaShamblee-rollover.png" />
	</div>
	</a>
</section>
<section class="graphic_align" id="fundraising_professionals">
	<a class="np_slide" id="fundraising_professionals" href="#!fundraising_professionals">
	<img src="images/5a-PamelaBarden.jpg" />
	<div id="overlay">
		<img src="images/5a-PamelaBarden-rollover.png" />
	</div>
	</a>
</section>
<section class="graphic_align" id="stock">
	<img src="images/5b.jpg" />
</section>
<div id="footer">
                    <div class="footerLinks">
                        <div class="noindex">
                        <ul>
                            <li><a id="ctl00_HyperLink7" href="https://www.uclaextension.edu">UCLA Extension</a></li>
                            <li class="last"><a id="ctl00_hlFooterMyExt" href="#!index">Nonprofit Management & Fundraising</a></li>
                        </ul>
                        <ul>
                            <li><strong>Episodes</strong>:<a id="ctl00_HyperLink1" href="#!fundraising_professionals"> Fundraising professionals</a></li>
                            <li><a id="ctl00_HyperLink2" href="#!capital_campaigns">Capital Campaigns</a></li>
                            <li><a id="ctl00_HyperLink3" href="#!cause_marketing">Cause Marketing</a></li>              
                            <li class="last"><a id="ctl00_HyperLink9" href="#!grant_writing">Grant Writing</a></li>
                        </ul>
                        <ul>
                        	<li class="last"><a id="ctl00_HyperLink9" href="#!founders_syndrome">Founders Syndrome & Succession Planning</a></li>
                        </ul>
                        <ul>
                        	<li><strong>Want More?</strong></li>
                        </ul>
                        <ul class="social_icons">
                            <a class="blog" id="ctl00_HyperLink5" href="SupportUCLAExtension.aspx">blog</a>
                            <a class="facebook" id="ctl00_HyperLink4" href="https://www.facebook.com/sharer/sharer.php?u=https://www.uclaextension.edu/LandingPages/NonprofitWebinars/index.html" target="_blank">facebook</a>
                            <a class="twitter" id="ctl00_HyperLink14" href="https://twitter.com/share" target="_blank">twitter</a>
                            <a class="gplus" id="ctl00_HyperLink14" href="https://plus.google.com/share?url=https://www.uclaextension.edu/LandingPages/NonprofitWebinars/index.html" target="_blank">gplus</a>
                            <a class="linkedin" id="ctl00_HyperLink14" href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.uclaextension.edu/LandingPages/NonprofitWebinars/index.html&title=Nonprofit Management and Fundraising Webinars&summary=Nonprofit Management and Fundraising Webinars&source=UCLA Extension" target="_blank">linkedin</a>
                            <a class="pinterest" id="ctl00_HyperLink14" href="http://pinterest.com/pinthis?url=https://www.uclaextension.edu/LandingPages/NonprofitWebinars/index.html" target="_blank">pinterest</a>
                            <a class="youtube" id="ctl00_HyperLink14" href="http://blogs.uclaextension.edu/Newsroom/">youtube</a>             
                        </ul>
                        </div>
                    </div>
                    
                    <div class="copyright noindex">                                                     
                        <p>© <script type="text/javascript" language="javascript">document.write(new Date().format("yyyy"))</script>2014 The Regents of the University of California | <a href="http://www.ucla.edu" target="_blank">UCLA Home</a></p>
                        <div class="clear"></div>
                    </div>
                    
                    
                    <!--Crazy Egg -->
                    <script type="text/javascript">
                        setTimeout(function () {
                            var a = document.createElement("script");
                            var b = document.getElementsByTagName("script")[0];
                            a.src = document.location.protocol + "//dnn506yrbagrg.cloudfront.net/pages/scripts/0018/2209.js?" + Math.floor(new Date().getTime() / 3600000);
                            a.async = true; a.type = "text/javascript"; b.parentNode.insertBefore(a, b)
                        }, 1);
                    </script>
                    
                </div>