<section class="graphic_align" id="capital_campaigns">
	<a class="np_slide" id="capital_campaigns" href="#!capital_campaigns">
		<img class="home_graphic" src="images/1a-RenitaTyson.jpg" />
		<div id="overlay">
			<img src="images/1a-RenitaTyson-rollover.png" />
		</div>
	</a>
</section>
<section class="graphic_align" id="stock">
	<img src="images/1b.jpg" />
</section>
<section class="graphic_align" id="stock">
	<img src="images/2b.jpg" />
</section>
<section class="graphic_align" id="cause_marketing">
	<a class="np_slide" id="cause_marketing" href="#!cause_marketing">
		<img src="images/2a-ScottPansky.jpg" />
		<div id="overlay">
			<img src="images/2a-ScottPansky-rollover.png" />
		</div>
	</a>
</section>
<section class="graphic_align" id="founders_syndrome">
	<a class="np_slide" id="founders_syndrome" href="#!founders_syndrome">
		<img src="images/3a-KimWilliams.jpg" />
	<div id="overlay">
		<img src="images/3a-KimWilliams-rollover.png" />
	</div>
	</a>
</section>
<section class="graphic_align" id="stock">
	<img src="images/3b.jpg" />
</section>
<section class="graphic_align" id="stock">
	<img src="images/4b.jpg" />
</section>
<section class="graphic_align" id="grant_writing">
	<a class="np_slide" id="grant_writing" href="#">
	<img src="images/4a-LaQuettaShamblee.jpg" />
	<div id="overlay">
		<img src="images/4a-LaQuettaShamblee-rollover.png" />
	</div>
	</a>
</section>
<section class="graphic_align" id="fundraising_professionals">
	<a class="np_slide" id="fundraising_professionals" href="#">
	<img src="images/5a-PamelaBarden.jpg" />
	<div id="overlay">
		<img src="images/5a-PamelaBarden-rollover.png" />
	</div>
	</a>
</section>
<section class="graphic_align" id="stock">
	<img src="images/5b.jpg" />
</section>