
<div id="preloader">
    <div id="status">
    	<h1>Nonprofit Management and Fundraising Webinars</h1>
        <h2><%= NP.videoModel.sectionName %> <% if (NP.videoModel.videoTitle) {%> - <%}%> <%= NP.videoModel.videoTitle %></h2>
    </div>
</div>
<section id="video_wrapper">
<nav id="player_nav">
	<a href="#!index">Nonprofit Management and Fundraising Webinars</a> <a href="<%= NP.videoModel.href %>"><%= NP.videoModel.sectionName %></a> <span class="watch">Watch</span>
</nav>
<div id="fluid_video">
	<iframe id="player_1" src="//player.vimeo.com/video/<%= NP.videoModel.videoId %>?api=1&amp;player_id=player_1&amp;title=0&amp;autoplay=1&amp;byline=0&amp;portrait=0" width="960" height="540" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
</section>
<script type="text/javascript">
$('#status').fadeOut(3000); // will first fade out the loading animation
$('#preloader').delay(3000).fadeOut('slow'); // will fade out the white DIV that covers the website.
$('body').delay(3000).css({'overflow':'visible'});
(function(){

                // Listen for the ready event for any vimeo video players on the page
                var vimeoPlayers = document.querySelectorAll('iframe'),
                    player;

                for (var i = 0, length = vimeoPlayers.length; i < length; i++) {
                    player = vimeoPlayers[i];
                    $f(player).addEvent('ready', ready);
                }

                function ready(player_id) {
                    // Keep a reference to Froogaloop for this player
                    var container = document.getElementById(player_id).parentNode.parentNode,
                        froogaloop = $f(player_id);

                    function setupEventListeners() {

                    	function onLoadProgress() {
                            froogaloop.addEvent('loadProgress', function(data) {
                            	/*if (data==null) {
                            		console.log('data is loading');
                            	}
                            	console.log('loadProgress event : ' + data.percent + ' : ' + data.bytesLoaded + ' : ' + data.bytesTotal + ' : ' + data.duration);*/
                            });
                    	}

                        function onFinish() {
                           froogaloop.addEvent('finish', function(data) {
                           	NP.router.navigate(NP.videoModel.href.slice(1, NP.videoModel.href.length));
                           	NP.setDefaultStyle();
                           	var section = NP.videoModel.href.slice(2, NP.videoModel.href.length);
                           	NP.showWebinarList(section);
                           });
                        }
                        onLoadProgress();
                        onFinish();
                    }
                    setupEventListeners();
                }
            })();
            </script>